@mixin flexCenter(
    $align-items: center,
    $justify-content:center,
    $direction: row,
) {
    display:flex;
    align-items:  $align-items;
    justify-content:  $justify-content;
    flex-direction: $direction;
}